:host {
  mat-card {
    height: 350px;
    width: 300px;
  }

  .image-container {
    overflow: hidden;
    margin: 16px -16px;
    max-height: 200px;

    img {
      width: calc(100% + 32px);
      height: auto;
    }
  }
}
