<mat-card class="mat-elevation-z4">

  <mat-card-header class="card-header">
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title style="margin-bottom: 6px" class="card-header-text">{{cocktail.name | titlecase}}</mat-card-title>
    <mat-card-actions class="card-header-action">
      <mat-icon>stars</mat-icon>
      <button mat-button>LIKE</button>
      <mat-icon>share</mat-icon>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card-header>
  <img mat-card-image [src]="myImgPath" [alt]="cocktail.imgAlt">
  <mat-card-content>{{cocktail.ingredients}}</mat-card-content>

</mat-card>
