<mat-sidenav-container class="all-wrap" fullscreen>

  <mat-sidenav #sidenav>
    <mat-list>
      <mat-list-item [routerLink]="['/']" (click)="sidenav.close()">Home</mat-list-item>
      <mat-list-item [routerLink]="['/cocktail']" (click)="sidenav.close()">Cocktail</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div class="page-wrap" style="border: thin dotted midnightblue">
    <app-header (sidenavButtonClick)="sidenav.open()"></app-header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
  </div>

</mat-sidenav-container>
