.welcomeLoggedOut, .welcomeLoggedIn {
  display: flex;
  margin-top: 640px;
  align-items: center;
  justify-content: center;
  color: white;
}

.getStarted {
  display: flex;
  align-items: center;
  justify-content: center;
}
