<mat-card class="mat-elevation-z4">

  <mat-card-header class="card-header">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="card-header-text">{{cocktail.cocktailName | titlecase}}</mat-card-title>
    <mat-card-actions class="card-header-action">
      <mat-icon>stars</mat-icon>
      <button mat-button>LIKE</button>
      <mat-icon>share</mat-icon>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content class="description">
    <p>{{cocktail.description}}</p>
    <img mat-card-image [src]="cocktail? cocktail.imgPath : fallBackImgPath" [alt]="cocktail.imgAlt">
  </mat-card-content>
  <mat-card-content class="ingredients">
    <mat-card-subtitle>Ingredients</mat-card-subtitle>
      <mat-selection-list #ing>
        <mat-list-option  *ngFor="let ingredient of cocktail.ingredientList; let i = index">
          {{i + 1}}. {{ingredient}}
        </mat-list-option>
      </mat-selection-list>
    <mat-card-actions>
      <button  mat-button *ngIf="ing.selectedOptions.selected.length > 0 " (click)="search()">
        Search with the selected ingredients
      </button>
    </mat-card-actions>
  </mat-card-content>


</mat-card>

<div *ngFor="let comment of comments" class="comment-box">
  <app-cocktail-comment class="comment" [comment]="comment"></app-cocktail-comment>
</div>

<div>
  <app-comment-create class="comment-create" [cocktail]="cocktail"></app-comment-create>
</div>
