:host {
  mat-card {
    max-width: 850px;
    margin: 0 auto;
    padding: 1em ;
  }

  .description {
    display: flex;
    flex-direction: row;
    border-top: rgba(15, 13, 26, 0.15) 1px solid;
    p {
      flex-grow: 3;
      padding-left: 16px;
      font-size: 16px;
    }

    img {
      margin: 0;
      padding: 0.2em 1em;
      width: auto;
      height: auto;
      max-width: 300px;
    }
  }

  mat-card-content {
    padding: 1em;
  }

  .ingredients {
    mat-list-option {
      height: 20px;
    }
    mat-card-actions {
      text-align: right;
    }

    border-bottom: rgba(15, 13, 26, 0.15) 1px solid;
    border-top: rgba(15, 13, 26, 0.15) 1px solid;
  }

  .making {
    mat-list-item {
      height: 20px;
    }
  }

  mat-card-subtitle {
    font-size: 16px;
  }

}


