<ng-container>
  <mat-card  class="mat-elevation-z4">
    <div class="add-cocktail">
      <mat-form-field appearance="outline">
        <mat-label>Cocktail Name</mat-label>
        <input matInput id="name" placeholder="Gin Tonic" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cocktail Image</mat-label>
        <input matInput id="image" placeholder="Image url" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cocktail Ingredient List</mat-label>
        <input matInput id="ingredients" name="ingredients" placeholder="Ingredients" required #ingredients>
        <mat-hint>Please the ingredients separated by a single comma</mat-hint>
      </mat-form-field>
      <div *ngIf="ingredients.errors">
          Wrong form
      </div>
      <button mat-button (click)="upload()">Upload</button>
    </div>
  </mat-card>
</ng-container>
