/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: Roboto, Arial, sans-serif;
}

.card-header {
  align-items: center;

  .card-header-action {
    display: flex;
    align-items: center;
  }
}
.card-header-text {
  font-family: 'Playfair Display', serif;
}






.mat-card-header-text {
   flex-grow: 3;
}

.like-button:before {
    content: 'stars';
    font-family: 'Material Icons', 'Georgia';
}

.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}


