<ng-container>
  <div class="browse-page">
    <div class="search">
      <cdk-virtual-scroll-viewport [itemSize]="ingredients.length" class="search-viewport">
        <mat-selection-list>
          <mat-list-option *cdkVirtualFor="let item of ingredients" class="search-list-item">
            {{item.name}}
          </mat-list-option>
        </mat-selection-list>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="results">
      <app-cocktail-list class="cocktail-list" [cocktails]="cocktails"></app-cocktail-list>
    </div>
  </div>
</ng-container>
