:host {
  .browse-page {
    display: flex;
    flex-direction: row;
    .search {
      flex-grow: 2;
      .search-viewport {
        min-width: 200px;
        min-height: 400px;

      }
    }
    .results {
      flex-grow: 8;
    }
  }
}
